
.image {
    max-height: 400px;
}

#get-facts {
    background-color: black ;
    color: white;
    cursor: pointer;
    padding: 10px;
}

#close-button {
    cursor: pointer;
    padding: 10px;
    width: 300px;

}