@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-family: 'Playfair Display', serif;}

#pop-up {
    margin: 50px 10px 10px 10px;
}

.image {
  height: 550px;
  object-fit: cover;
  margin: -10px 0px 0px -200px;
}

#get-facts {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  top: 475px;
  position: absolute;
}

#close-button {
  cursor: pointer;
  text-align: right;
  width: 55px;
  padding-right: 15px;
}

.close-button-container {
  justify-content: right;
}

.col-left {
  width: 250px;
  overflow: hidden;
  border: black 2px solid;
}

.col-right {
  padding: 10px 30px 15px 30px;
  
}

#facts-container {
  min-height: 400px;
}

li {
  list-style-type: circle;
  font-size: small;
}

.border {
  border: red 1px solid;
}
